$input-btn-padding-x: 0.375rem !default;
$input-btn-padding-x-sm: 0.25rem !default;
$input-btn-padding-x-lg: 0.5rem !default;

/* import bootstrap to set changes */
@import "bootstrap/scss/bootstrap";

//
// Styling for delete icon placed like <InputGroup.Append>
// It has similar sizing and placement to an <InputGroup.Append>
// wrapping an <InputGroup.Text> and is expected to be used in
// an <InputGroup> similar to an <InputGroup.Append> element, but
// the delete icon will have no right-side padding nor will it
// appear to be included within the input group borders or share
// the color of the <InputGroup.Append> elements.
//

.append-icon {
    display: flex;
    margin-left: 0 - $input-border-width;
}

.append-icon-text {
    display: flex;
    align-items: center;
    padding: $input-padding-y 0 $input-padding-y $input-padding-x;
    margin-bottom: 0;
    @include font-size($input-font-size);
    font-weight: $font-weight-normal;
    line-height: $input-line-height;
    text-align: center;
    white-space: nowrap;
}

.input-group-lg > .append-icon > .append-icon-text {
    padding: $input-padding-y-lg 0 $input-padding-y-lg $input-padding-x-lg;
    @include font-size($input-font-size-lg);
    line-height: $input-line-height-lg;
}

.input-group-sm > .append-icon > .append-icon-text {
    padding: $input-padding-y-sm 0 $input-padding-y-sm $input-padding-x-sm;
    @include font-size($input-font-size-sm);
    line-height: $input-line-height-sm;
}

.button-icon {
    color: $body-color !important;
    padding: 0;
    margin: -1px 0;
    background-color: transparent !important;
    border: 0;
    appearance: none;
}
